[submodule "hw1-hierarchical-clustering-al-pi314"]
	path = hw1-hierarchical-clustering-al-pi314
	url = https://github.com/UOZP-ULFRI/hw1-hierarchical-clustering-al-pi314.git
[submodule "hw2-silhouette-al-pi314"]
	path = hw2-silhouette-al-pi314
	url = https://github.com/UOZP-ULFRI/hw2-silhouette-al-pi314.git
